@model EventApplicationProject.Models.EventDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.EventId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />

            <div class="form-group">
                <label asp-for="EventName" class="control-label">Event Name:</label>
                <input asp-for="EventName" class="form-control" placeholder="@Model.EventName" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label">Date:</label>
                <input asp-for="Date" class="form-control" placeholder="@Model.Date.ToString("yyyy-MM-dd")" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description:</label>
                <input asp-for="Description" class="form-control" placeholder="@Model.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationId" class="control-label">Location ID:</label>
                <input asp-for="LocationId" class="form-control" placeholder="@Model.LocationId" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}